* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.playground {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.mainBox {
  display: flex;
  flex-wrap: wrap;
  min-width: 40%;
  min-height: 40%;
  box-shadow: 0px 0px 12px 1px whitesmoke;
  border-radius: 5px;
  padding: 1em;
  background-color: #00000082;
  justify-content: space-evenly;
}
#swap {
  background-color: #00000082;
  border: none;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 12px 1px whitesmoke;
}
#swap:hover {
  background-color: whitesmoke;
}
.currencyDetails> h2 {
  font-weight: 900;
  text-decoration: overline;
}
.playground> img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  grid-row: 1;
  grid-column: 1;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  grid-row: 1;
  grid-column: 1;
}
.color-white {
  color: white;
}
#swap img {
  width: 2em;
  transform: rotate(90deg);
}
#currencySelect{
  background: #00000000;
  color: white;
}
input {
  font-size: 1.3em;
  border: 2px solid whitesmoke;
  /* text-align: center; */
  border-radius: 5px;
  outline: none;
  padding: 0 5px;
}
#currencySelect {
  cursor: pointer;
  font-weight: 700;
}
#currencySelect> option {
  background: #000;
  color: white;
  cursor: pointer;
}
.secondPart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 50%;
}
.firstPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
}